:root {
    --clr-point:#e3513b;
    --clr-dark:#292929;
    --clr-blue: #bccdeb;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #FCFBFA;
    font-family: "Karla", sans-serif;
    color: var(--clr-dark)
}
a {
    text-decoration: none;
    color: var(--clr-dark);
}
p {
    line-height: 2.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.4px;
}
section {
    padding: 5% 10%;
    font-size: 1.65rem;
}
::selection {
    color: white;
    background: var(--clr-dark);
}
.title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
}

/* ----- Navigation & burger icon----- */
header {
    cursor: pointer;
}
nav {
    width: 430px;
    left: -100%;
    height: 100vh;
    top:0%;
    margin: 0;
    z-index: 5;
    background: var(--clr-blue);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: left 0.55s ease;
    overflow: hidden;
    position: fixed;
}
.nav-links {
    list-style: none;
    padding: 0;
}
.nav-links li {
    padding-bottom: 30%;
}
.nav-links li, .backtotop {
    letter-spacing: 2px;
    font-size: 1.3rem;
    text-align: center;
}
.burger {
    z-index: 10;
    position: fixed;
    padding: 35px 45px;
}
.burger div {
    width: 30px;
    height: 2px;
    margin: 8px;
    background-color: var(--clr-dark);
}
.burger span {
    letter-spacing: 1px;
}
.toggle .line1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotateZ(45deg) translate(-8px, -6px);
}
.line1, .line2, .line3 {
    transition: all 0.3s ease;
}
.navToggle {
    left:0;
}

/* Eye ball */
.eyes {
    transform: translateY(-50%);
    margin: 130px 0 30px 0;
}
.eye {
    width: 60px;
    height: 90px;
    background: transparent;
    display: inline-block;
    border: 1.5px solid var(--clr-dark);
    border-radius: 50%;
    /* margin: 8px; */
    margin: 5px;
    position: relative;
    overflow: hidden;
}

.ball {
    width: 25px;
    height: 35px;
    background: var(--clr-dark);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


/* ----- Hi I'm Ina ----- */
#intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    text-align: center;
}

.introText h1 {
    margin-bottom: 0;
    font-size: 2.8rem;
}
.introText h3 {
    margin-bottom: 15%;
    font-size: 1.7rem;
}
.bouncing-ball {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: var(--clr-point);
    padding: 0;
    margin: 0 auto;
    animation: bouncing 0.7s infinite;
    animation-direction: alternate;
}

@keyframes bouncing {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
}



/* ----- My Journey starts here ----- */

/* image carousel */
.carousel {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.slides {
    display: flex;
    width: 100%;
    height: 450px;
}
/* 
.slide {
    padding: 10%;
} */

i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
}
.prevBtn, .nextBtn {
    cursor: pointer;
    position: absolute;
    top: 50%; 
    z-index: 5;
    padding: 7px;
}
.nextBtn {
    right:0;
    transform: rotate(-45deg);
    margin-right: 10px;
}
.prevBtn {
    transform: rotate(135deg);
    margin-left: 10px;
}
.pauseBtn {
    display: flex;
    justify-content: center;
}
.play {
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 4px;
    bottom: 1%;
    cursor: pointer;
    outline: none;
}
.slides div {
    min-width: 100%;
    font-size: 1rem;
    letter-spacing: 1px;
}
.slides div {
    background: var(--clr-blue);
    font-family: "Inconsolata", sans-serif;
}


/* ----- why FAC starts here ----- */

.whyfac-img1 {
    text-align: center;
}
.reason1-1 {
    width: 80%;
    max-width: 700px;
}

.svg-whyfac {
    width: 90%;
}

.flex-box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
}

.flex-content {
    box-sizing: border-box;
    /* flex-basis: 50%;
    flex-grow: 1; */
    justify-content: center;
    align-items: baseline;
}


.whyfac-door {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.whyfac-subheading {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
}
/* ----- Portfolio starts here ----- */
.iconLink {
    font-size: 5rem;
}

.iconLink img {
    width: 5rem;
}
.iconLink a:hover {
    color: var(--clr-point);
}

/* ----- Footer starts here ----- */
footer {
    text-align: center;
    font-size: 1.5rem;
    margin: 10% 0 40px 0;
}
footer h4 {
    font-size: 1.8rem;
    margin-bottom: 0;
}

footer div:last-child {
    margin-top: 30px;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.button-scroll {
    position: fixed;
    right: 35px;
    bottom: 30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: var(--clr-point);
    border: none; 
    outline: none;
    cursor: pointer;
    display: none;
}
.button-scroll div {
    transform: rotate(-20deg);
    letter-spacing: 1px;
    font-size: 1.1rem;
    color:white;
}



/* ----- Responsiveness on mobile ----- */

@media screen and (max-width: 768px) {
    .carousel {
        width: 100vw;
    }
    .slides {
        width: 100%;
    }
    .slides div {
        height: 100vw;
    }
    nav {
        height: 100vh;
    }
    .flex-content {
        flex-basis: 100%;
    }
    .flex-content:nth-of-type(4) {
        order: -1;
    }
    .flex-content:nth-of-type(3) {
        order: 4;
    }
    
}



